body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}
.mbox {
  border: 1px solid #dcdcdc;
  max-width: 400px;
  padding: 20px;
  text-align: center;
  width: 90%;
  box-shadow: 10px 10px 5px lightblue;
}
.mbox form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 auto 10px;
}
.mbox form>input, button {
  font-size: 16px;
  height: 40px;
  padding: 0 10px;
}